<h1> Your Cart </h1>
<% @total = current_cart.total %>
<% Order.all.where(cart_id: current_cart.id).map do |order| %>

    <% @total += Plant.all.find(order.plant_id).price %>

<% end %>

<%= render "plants" %>

<h2> Total: $<%= @total %></h2>



